.page-body {
  max-width: 85em;
}

h1 {
  font-family: 'Mier B', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  color: black;
  font-size: 30px;
  line-height: 1.3;
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: normal;
}

h2 {
  font-family: 'Mier B', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  color: black;
  font-size: 22px;
  line-height: 1.3;
  font-weight: bold;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: normal;
}

.img-wrapper-with-background-brown {
  background-color: #c87700;
}

.img-wrapper-with-background-orange {
  background-color: #ff9f00;
}

.img-center {
  display: block;
  margin: auto;
  height: 10em;
}

.img-full-width {
  width: 100%;
}

.b-imagegrid__grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.b-imagegrid__item {
  padding: 15px;
  width: 33%;
  flex: 0 0 auto;
  vertical-align: top;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 1.5em;
}

section {
  margin-top: 50px;
}

.sections {
  padding: 50px 0px;
}

svg {
  max-width: 50em;
}

@media only screen and (max-width: 1200px) {
  .b-imagegrid__grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
  }
  .b-imagegrid__item {
    padding: 15px;
    width: 50%;
    flex: 0 0 auto;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 1.5em;
  }
}

@media only screen and (max-width: 1100px) {
  .b-imagegrid__grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
  }
  .b-imagegrid__item {
    padding: 15px;
    width: 100%;
    flex: 0 0 auto;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 1.5em;
  }
}
