switch-container {
  top: 1em;
  position: relative;
  height: 4em;
  width: 30em;
  background-color: #e4e4e4;
  border-radius: 1em;
  z-index: 1;
  left: 47%;
  display: flex;
  box-shadow: 1px 1px 4px;
}
.switch-radio {
  &:checked {
    + {
      label {
        color: white;
      }
    }
  }
  display: none;
  &:focus {
    transition: 0.15s ease-out;
    color: #fff;
  }
}
.switch-span {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0em;
  width: 10em;
  height: 4em;
  background: #216ba5;
  border-radius: 1em;
  transition: left 0.1s ease-out;
  box-shadow: 1px 1px 3px;
}
.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  line-height: 26px;
  font-size: 1em;
  color: #1b3e77;
  text-align: center;
  cursor: pointer;
  margin-top: 1em;
}
.switch {
  > span {
    flex: 1;
  }
}
