// :root{
//   --defaultFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
//   Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
// }

#Montserrat {
  font-family: 'Montserrat', sans-serif;
  padding-top: 2em;
}

#Nunito {
  font-family: 'Nunito', sans-serif;
  padding-top: 2em;
  padding-bottom: 2em;
}

.Sysui {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

td {
  padding: 1em;
}

.font-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 1em;
  box-shadow: 1px 2px 5px grey;
  table-layout: fixed;
  margin-bottom: 2em;
}

.label-text {
  width: 16%;
}
.lorem-text {
  width: 65%;
  border-left: solid #1b3e77 1px;
  border-right: solid #1b3e77 1px;
}

h1 {
  padding-bottom: 1.5em;
}

h2 {
  padding-top: 1em;
  padding-bottom: 1em;
}

h4 {
  font-family: monospace;
}

textarea {
  border-radius: 1em;
  width: 100%;
  padding-left: 1em;
  padding-top: 1em;
  cursor: pointer;
}

textarea:hover {
  background-color: lightgray;
}

textarea:focus {
  outline: none;
}

.page-body {
  width: fit-content;
  color: black;
  margin-left: 25em;
  font-size: small;
  margin-top: -25em;
  padding-bottom: 1em;
}

.weightnum {
  padding-bottom: 1em;
}

.center-list {
  text-align: center;
}

.left-list {
  display: inline-block;
  text-align: left;
}

// .four-wide {
//   width: 100%;
// }

// .two-wide {
//   width: 50%;
// }

// .letterlist {
//   text-align: justify;
// }
