/* DEPRACATED */

#Montserrat {
  font-family: 'Montserrat', sans-serif;
  padding-top: 2em;
}

#Nunito {
  font-family: 'Nunito', sans-serif;
  padding-top: 2em;
  padding-bottom: 2em;
}

#Sysui {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

td {
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

table {
  border-collapse: collapse;
  border: solid grey 1px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 1px 1px 4px;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 2em;
}

table tr td:first-child {
  width: 16%;
}

table tr td:nth-child(2) {
  width: 65%;
  border-left: solid #1b3e77 1px;
  border-right: solid #1b3e77 1px;
}

ul {
  text-align: left;
}

h1 {
  padding-bottom: 1.5em;
}

h2 {
  padding-top: 1em;
  padding-bottom: 1em;
}

h4 {
  font-family: monospace;
}

textarea {
  border-radius: 10px;
  width: 100%;
  padding-left: 1em;
  padding-top: 1em;
  cursor: pointer;
}

textarea:hover {
  background-color: lightgray;
}

textarea:focus {
  outline: none;
}

.page-body {
  width: fit-content;
  color: black;
  margin-left: 25em;
  font-size: small;
  margin-top: -25em;
}

.weightnum {
  padding-bottom: 1em;
  text-align: center;
}

/* button {
    border: solid black 1px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 1%;
    width: 100%;
} */
