:root {
  --catalyte-blue: #1b3e77;
  --navbar-text-color: #eeeeee;
  --navbar-text-color-focus: #1b3e77;
  --navbar-bg-contrast: #a0a0a0;
  --catalyte-orange: #f78d34;
  --header-grey: #rgb(248, 248, 248);
  --sidebar-grey: #dfdfdf;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header-container {
  position: relative;
  height: 29em;
  display: block;
}

header-img {
  flex-direction: column;
  top: 45%;
  position: absolute;
  font-family: Montserrat;
  font-size: 2.5vw;
  font-weight: 500;
  line-height: normal;
  color: var(--catalyte-blue);
  margin-left: 0.75em;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
}
