:root {
  //Odyssey colors
  --midnight-blue: #1b3e77;
  --white-smoke: #f8f8f8;
  --light-slate-gray: #919191;
  --off-white: #fcfcfc;
  --medium-turqoise: #65bbd3;
  --light-coral: #f4708f;
  --lavender: #e4e9f1;
  --dark-slate-gray: #343a40;
  //Surge colors
  --surge-dark-orange: #f98d23;
  --surge-gray: #505050;
  --surge-white-smoke: #ededed;
  --surge-dodger-blue: #359ff4;
  --surge-dark-gray: #393939;
  --white: #ffffff;
}
.surge-gray {
  background-color: var(--surge-gray);
}
.surge-dodger-blue {
  background-color: var(--surge-dodger-blue);
}
.surge-dark-orange {
  background-color: var(--surge-dark-orange);
}
.surge-dark-gray {
  background-color: var(--surge-dark-gray);
}
.surge-white-smoke {
  background-color: var(--surge-white-smoke);
}
.catalyte-bb-yellow {
  background-color: #f3bf64;
}
.dusty-orange {
  background-color: #f78d34;
}
.sky-blue {
  background-color: #5da6e6;
}
.cobalt {
  background-color: #1b3e77;
}
.spruce {
  background-color: #0d5155;
}
.black {
  background-color: #000000;
}
.white {
  background-color: #ffffff;
}
.warm-gray {
  background-color: #979797;
}
.white-2 {
  background-color: #f2f2f2;
}
.warm-gray-2 {
  background-color: #a0a0a0;
}
.white-3 {
  background-color: #efefef;
}
.white-85 {
  background-color: #ffffffd9;
}
.white-4 {
  background-color: #eeeeee;
}
.midnight-blue {
  background-color: var(--midnight-blue);
}
.white-smoke {
  background-color: var(--white-smoke);
}
.light-slate-gray {
  background-color: var(--light-slate-gray);
}
.off-white {
  background-color: var(--off-white);
}
.medium-turqoise {
  background-color: var(--medium-turqoise);
}
.light-coral {
  background-color: var(--light-coral);
}
.lavender {
  background-color: var(--lavender);
}
.dark-slate-gray {
  background-color: var(--dark-slate-gray);
}
.color-palette-container {
  margin-right: 30px;
  box-shadow: #6f6f6f44 0.5px 4px 17.5px 0px;
  background-color: #ffffff;
  border-radius: 1em;
}
.color-preview {
  height: 150px;
  width: 150px;
  text-align: center;
  border-radius: 1em 1em 0 0;
  &:hover {
    > .hide {
      display: inline;
      background-color: #d3d3d388;
    }
  }
}
.copy-clipboard-btn {
  width: 100%;
  height: 100%;
  background-color: #00000000;
  border: #000000;
  border-radius: inherit;
  outline: none;
  cursor: pointer;
}
.hide {
  display: none;
}
.color-info {
  padding: 10px;
}
h4 {
  font-family: monospace;
}
