.page-body {
  width: fit-content;
  color: black;
  margin-left: 25em;
  font-size: small;
  margin-top: -25em;
  padding-bottom: 5px;
}
.palette-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 5em;
}
h1 {
  font-family: 'Mier B', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  color: rgb(0, 0, 0);
  font-size: 30px;
  line-height: 1.3;
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: normal;
}
h2 {
  padding-top: 1em;
  padding-bottom: 1em;
}
