:root {
  --catalyte-blue: #1b3e77;
  --navbar-text-color: #eeeeee;
  --navbar-text-color-focus: #1b3e77;
  --navbar-bg-contrast: #a0a0a0;
  --catalyte-orange: #f78d34;
  --header-grey: #e8e8e8;
  --sidebar-grey: #dfdfdf;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

navbar-flex {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}
navbar-flex img {
  width: 20%;
  max-width: 9em;
  margin-top: 0.5em;
}
navbar-flex > a {
  color: var(--navbar-text-color);
  text-decoration: none;
  font-weight: 400;
  align-items: center;
  flex: 1;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

navbar-fixed {
  --navbar-height: 64px;
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--catalyte-blue);
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 3;
  opacity: 0.95;
}

navbar-links {
  overflow: hidden;
  background-color: var(--catalyte-blue);
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
}
navbar-links li {
  padding: 0.4em;
  width: 11.5em;
  height: fit-content;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
}
navbar-links li:hover {
  border-bottom: 3px solid white;
}
navbar-links li:hover a {
  font-weight: 600;
  letter-spacing: 0px;
}
navbar-links li:active {
  border-bottom: 3px solid white;
}
navbar-links li:active a {
  font-weight: 600;
  letter-spacing: 0px;
}
navbar-links a {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  justify-content: center;
  width: 102%;
  padding: 0.4em 0.8em;
  height: 3em;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 700px) {
  navbar-fixed navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }
  navbar-fixed navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    list-style-type: none;
    max-height: max-content;
    width: 100%;
    height: 100%;
    flex: 1;
  }
  navbar-fixed navbar-links li:last-child {
    margin-right: 0;
  }
  navbar-fixed.opened navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }
  navbar-fixed.opened navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    list-style-type: none;
    max-height: max-content;
    width: 100%;
    height: 100%;
  }
}
