:root {
  --catalyte-blue: #1b3e77;
  --navbar-text-color: #eeeeee;
  --navbar-text-color-focus: #1b3e77;
  --navbar-bg-contrast: #a0a0a0;
  --catalyte-orange: #f78d34;
  --header-grey: #e8e8e8;
  --sidebar-grey: #f8f8f8;
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
sidebar-menu {
  padding: 4em;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 13em;
  background-color: var(--sidebar-grey);
  margin-left: 2em;
  position: sticky;
  display: block;
  top: 5em;
  margin-top: -8em;
  border-radius: 1em;
  box-shadow: 1px 2px 5px grey;
  li {
    list-style-type: none;
    height: 3em;
    margin-bottom: 0em;
    margin-top: 1em;
    border-bottom: 3px solid transparent;
    & a:hover {
      font-weight: bold;
      letter-spacing: 0px;
    }
  }
  > li {
    > a {
      width: fit-content;
      color: var(--catalyte-blue);
      text-decoration: none;
      display: flex;
      font-weight: 400;
    }
  }
}
